<li>

    <!-- delete button -->
    <% if((locals.user) && (locals.user.id == post.user.id)) {%>
    <small>
        <a href="/posts/destroy/<%=post._id %>">X</a>
    </small>
    <%}%>
<br>
 <!-- post file as per postType -->
    <% if (post.postType =='image'){%>
        <img src="<%=post.file%>" alt="<%=post.postType%>" width="280" height="330">
        <br>
        <%=post.content%>
    <%} else if(post.postType =='video'){%>
        <video width="400" height="350" controls>
            <source src="<%=post.file%>" alt="<%=post.postType%>" type="video/mp4">
            video not supported
        </video>
        <br>
        <%=post.content%>
        <%}else{%>
            <%= post.content%>
            <%}%>

<!-- user name -->
    <small>
        <p>By: <%=post.user.name%> </p>
        
    </small>


<!-- comments below -->
    <div id="posts-comments">
        <% if(locals.user) { %>
            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type your comment here" required>
                <input type="hidden" name="post" value="<%=post._id%>">
                <input type="submit" value="Add comment">
            </form>
        <% }%>

        <div id="post-comments-list">
            <ul id="'post-comment-<%=post._id%>">
                <% for(comment of post.comments){ %>
                   
                   <%-include('_comment')-%> 
                <%  }%>
            </ul>
        </div>
    </div>
</li>