<div class="post">
    <br>
    <!-- post file as per postType -->
    <% if (post.postType=='image' ){%>

        <div class="p-3">

            <div class="bg-white rounded shadow " style="width: 100%;">
                <div class="post-header" style="padding: 2% 8%;">
                    <div class="d-flex align-items-center">
                        <img src="<%= post.user.avatar || '/uploads/users/avatars/default.jpg'%>" alt="avatar"
                            class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
                        <%= post.user.name%>
                    </div>

                    <% if((locals.user) && (locals.user.id==post.user.id)) {%>
                        <small>
                            <a href="/posts/destroy/<%=post._id %>"><i class="fa fa-trash"></i></a>
                        </small>
                        <%}%>
                </div>
                <hr>
                <center>

                    <img src="<%=post.file%>" alt="<%=post.postType%>" style="width:90%">
                </center>
                <div class="p-4">

                    <h6 class="small text-muted mb-0">
                        <%=post.content%>
                    </h6>

                    <div class="d-flex align-items-center justify-content-between rounded-pill px-4 py-2 mt-4"
                        style="background-color: #f7f7f7;">
                        <span id="toggle-comments-<%=post.id%>" onclick="handleClick(this)"><i class="fa fa-comment-o"
                                style="color: lightslategray;"></i>
                            <%= post.comments.length || 0%>comments
                        </span>
                        <span style="font-size: medium;">
                            <!-- like section -->
                            <%- include('_likes')-%>
                        </span>
                    </div>

                    <div id="posts-comments">
                        <% if(locals.user) { %>
                            <form action="/comments/create" class="d-flex justify-content-around"
                                style="padding-bottom: 10px;" method="post">

                                <input type="text" style="width: 80%" name="content"
                                    placeholder="Type your comment here" required>
                                <input type="hidden" name="post" value="<%=post._id%>">
                                <button type="submit" style="border-radius: 20px;"><i
                                        class="fa fa-paper-plane"></i></button>
                            </form>
                            <% }%>

                                <div class="post-comments-list">
                                    <ul id="post-comment-<%=post._id%>" style="display: none;">
                                        <% for(comment of post.comments){ %>

                                            <%-include('_comment')-%>
                                                <% }%>
                                    </ul>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <%=post.content%>
            <%} else if(post.postType=='video' ){%>

                <div class="p-3">

                    <div class="bg-white rounded shadow " style="width: 100%;">
                        <div class="post-header" style="padding: 2% 8%;">
                            <div class="d-flex align-items-center">
                                <img src="<%= post.user.avatar || '/uploads/users/avatars/default.jpg'%>" alt="avatar"
                                    class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover" />
                                <%= post.user.name%>
                            </div>
                            <% if((locals.user) && (locals.user.id==post.user.id)) {%>
                                <small>
                                    <a href="/posts/destroy/<%=post._id %>"><i class="fa fa-trash"></i></a>
                                </small>
                                <%}%>
                        </div>
                        <hr>
                        <center>
                            <video width="400" height="350" controls>
                                <source src="<%=post.file%>" alt="<%=post.postType%>" type="video/mp4">
                                video not supported
                            </video>
                        </center>
                        <div class="p-4">
                            <h6 class="small text-muted mb-0">
                                <%=post.content%>
                            </h6>
                            <div class="d-flex align-items-center justify-content-between rounded-pill px-4 py-2 mt-4"
                                style="background-color: #f7f7f7;">
                                <span id="toggle-comments-<%=post.id%>" onclick="handleClick(this)"><i
                                        class="fa fa-comment-o" style="color: lightslategray;"></i>
                                    <%= post.comments.length || 0%>comments
                                </span>
                                <span style="font-size: medium;">
                                    <!-- like section -->
                                    <%- include('_likes')-%>
                                </span>
                            </div>
                            <div id="posts-comments">
                                <% if(locals.user) { %>
                                    <form action="/comments/create" class="d-flex justify-content-around"
                                        style="padding-bottom: 10px;" method="post">
                                        <input type="text" style="width: 80%" name="content"
                                            placeholder="Type your comment here" required>
                                        <input type="hidden" name="post" value="<%=post._id%>">
                                        <button type="submit" style="border-radius: 20px;"><i
                                                class="fa fa-paper-plane"></i></button>
                                    </form>
                                    <% }%>

                                        <div class="post-comments-list">
                                            <ul id="post-comment-<%=post._id%>" style="display: none;">
                                                <% for(comment of post.comments){ %>

                                                    <%-include('_comment')-%>
                                                        <% }%>
                                            </ul>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <%=post.content%>
                    <!-- only text post  -->
                    <%}else{%>



                        <section>
                            <div class="container">



                                <div class="">
                                    <div class="">

                                        <!-- CUSTOM BLOCKQUOTE -->
                                        <blockquote class="blockquote blockquote-custom bg-white p-4 shadow rounded">
                                            <div class="blockquote-custom-icon bg-info shadow-sm"><i
                                                    class="fa fa-quote-left text-white"></i></div>
                                            <!-- delete button -->

                                            <div class="post-header">
                                                <div class="d-flex align-items-center">
                                                    <img src="<%= post.user.avatar || '/uploads/users/avatars/default.jpg'%>"
                                                        alt="avatar" class="rounded-circle me-2"
                                                        style="width: 38px; height: 38px; object-fit: cover" />
                                                    <%= post.user.name%>
                                                </div>
                                                <% if((locals.user) && (locals.user.id==post.user.id)) {%>
                                                    <small>
                                                        <a href="/posts/destroy/<%=post._id %>"><i
                                                                class="fa fa-trash"></i></a>
                                                    </small>
                                                    <%}%>
                                            </div>
                                            <hr>
                                            <p class="mb-0 mt-2 font-italic">
                                                <%= post.content%>
                                            </p>

                                            <footer class="blockquote-footer pt-4 mt-4 border-top">
                                                <div class="d-flex align-items-center justify-content-between rounded-pill px-4 py-2 mt-4"
                                                    style="background-color: #f7f7f7;">
                                                    <span id="toggle-comments-<%=post.id%>"
                                                        onclick="handleClick(this)"><i class="fa fa-comment-o"
                                                            style="color: lightslategray;"></i>
                                                        <%= post.comments.length || 0%>comments
                                                    </span>
                                                    <span style="font-size: medium;">
                                                        <!-- like section -->
                                                        <%- include('_likes')-%>
                                                    </span>
                                                </div>
                                                <div id="posts-comments">
                                                    <% if(locals.user) { %>
                                                        <form action="/comments/create"
                                                            class="d-flex justify-content-around"
                                                            style="padding-bottom: 10px;" method="post">
                                                            <input type="text" style="width: 80%" name="content"
                                                                placeholder="Type your comment here" required>
                                                            <input type="hidden" name="post" value="<%=post._id%>">
                                                            <button type="submit" style="border-radius: 20px;"><i
                                                                    class="fa fa-paper-plane"></i></button>
                                                        </form>
                                                        <% }%>

                                                            <div class="post-comments-list">
                                                                <ul id="post-comment-<%=post._id%>"
                                                                    style="display: none;">
                                                                    <% for(comment of post.comments){ %>

                                                                        <%-include('_comment')-%>
                                                                            <% }%>
                                                                </ul>
                                                            </div>
                                                </div>
                                            </footer>
                                        </blockquote><!-- END -->

                                    </div>
                                </div>
                            </div>
                        </section>










                        <%}%>




                            <!-- comments below -->

</div>