<main id="home-feed" class="d-flex">
  <%-include('_sidebar')-%>


    <!-- Page Content  -->
    <div id="content" style="background-color: aliceblue;" class="p-4 p-md-5 pt-5">
      <%-include('_home-feed')-%>
    </div>

    <%-include('_chatbox')-%>

</main>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if (locals.user){ %>
  <script>
    $('.fa-message').click(function (e) {
      console.log("clicked", e.target.classList[2]);
      let receiverMail = e.target.classList[2];
      let receiverId = e.target.classList[3];
      $('#user-chat-box').css('display', 'block');
      console.log('user-chat-box', '<%= locals.user.email %>', receiverMail, receiverId, '<%= locals.user.id %>');
      new ChatEngine('user-chat-box', '<%= locals.user.email %>', receiverMail, receiverId, '<%= locals.user.id %>');

    });

  </script>
  <% } %>