
<main id="home-feed" class="d-flex">
<div class="wrapper d-flex  flex-row align-items-stretch">
    <nav id="sidebar"> 
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
    </button>
</div>
      <div class="img bg-wrap text-center py-4" style="background-image: url(images/bg_1.jpg);">
          <div class="user-logo">
              <div class="img" style="background-image: url(images/logo.jpg);"></div>
              <h3><%=user.name%></h3>
          </div>
      </div>
<ul class="list-unstyled components mb-5">
  <li class="active">
    <a href="/home"><span class="fa fa-home mr-3"></span> Home</a>
  </li>
  <li>
    <a href="/organization"><span class="fa fa-cog mr-3"></span> Organizations</a>
  </li>
  <li>
    <a href="/users/sign-out" ><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
  </li>
</ul>

</nav>
</div>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
<%-include('_home-feed')-%>
</div>

<%-include('_chatbox')-%>

</main>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if (locals.user){ %>
<script>
    $('.fa-message').click(function(e){
        console.log("clicked",e.target.classList[2]);
        let receiverMail = e.target.classList[2];
        let receiverId = e.target.classList[3];
        $('#user-chat-box').css('display','block');
        console.log('user-chat-box', '<%= locals.user.email %>',receiverMail,receiverId,'<%= locals.user.id %>');
        new ChatEngine('user-chat-box', '<%= locals.user.email %>',receiverMail,receiverId,'<%= locals.user.id %>' );
       
    });
    
</script>
<% } %>

